body{
    background-color: rgb(233, 231, 229);
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar{
    background-color: #DC2626;
}

/* right section conteiner*/
#sectionright{
    position: absolute;
    display: inline-block;
    width: 40%;
    border: 2px solid;
    margin: 10px;
    text-align: center;
    height: 78vmin;
    
}

/* text right section */
.sectextright{
    margin: 30vmin auto;
}


.sectextright h2{
    font-size: 40px;
    font-weight: bold;
    
}

.sectextright p{
    font-size: 26px;
}


/* button righ sectio shape */
.secrightbutton {
    
    border-radius: 12px;
    width: 110px;
    font-size: large;
    margin-top: 15px;   
    background-color: #EF4444;
    font: bold;
    border: none;
}

/* text inside button behavior */
.secrightbuttontext{
    color: white;
    text-decoration: none;
}
/* button right section on clicked */
.secrightbutton:hover {
    opacity: 70%;
    transition: 0.5s;
}

/* left section conteiner  */
#sectionleft{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 58%;
    border: 2px solid;
    margin: 10px ;
    background-color: #DC2626;
    height: 78vmin;
}

/* img left section */
.imgsecleft{
     margin-top: 10vmin;
     width: 100%;

 }

/* footer */
 #footer {
    text-align: center;
     background-color: #DC2626;
     padding: 10px 0;
     bottom: 0;
     border: solid 1px;
     position: fixed;
     width: 100%;
 }

/* footer logo */
.imglogofooter{
    display: inline-block ;
    width: 30px;
}
