*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

:root{
    --bg-red-600: #DC2626;
    --bg-red-500:#EF4444; 
    --bg-red-400:#F87171;
    --bg-reddark-100 : #730202;
    --bg-reddark-200: #400101;
    --bg-red-300: #FCA5A5;
    --bg-zinc-900: #18181B;
    --bg-stone-900:#1C1917;
    --bg-white:#F2F2F2;
    --bg-zinc-50:#FAFAFA;
    --bg-zinc-600:#52525B;
    --bg-zinc-500:#71717A;
    --bg-zinc-400:#A1A1AA;
    --bg-zinc-200:#E4E4E7;
    }

body{
    background-color: var(--bg-reddark-100);
    color:var(--bg-zinc-900);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


main{
    font-family: 'Poppins',sans-serif;
}

/* navbar */
.navbar{
    background:none;
    font-weight: bold
}
/* img left section */

.img1{
    margin-right: 6vh;
    margin-top: 9vh;
    width: 100%;
    background-color: #6d0606;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #DC2626;
}

.img2{
    margin-left: 4vh;
    margin-top: 9vh;
    width: 100%;
    background-color: #6d0606;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #DC2626;
    
 }

 .imgform{
    width: 100%;
    background-color: #6d0606;
        border-radius: 15px;
        box-shadow: 10px 10px 20px 7px #DC2626;
    
 }

 #services{
    min-height: 100vh;
 }

 #services .row{
    height:100vh;
 }


.contribimg{
    background-color: #6d0606;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 5px #DC2626;
        color: white;
}

 #ask{
    min-height: 100vh;
 }

.icon_img{
    border-radius: 50%;
}

/* cards Fases  */
 #phases .card_contri{ 
    margin-top: 3vh;
    background-color: #6d0606;
    border-radius: 15px;    
    box-shadow: 10px 10px 10px 10px #DC2626;
 }

/*  div doar */
#doar {
   border: none;
   border-radius: 1vh;
    margin: 5vh ;
    min-height: 30vh;
}

#doar h1{
    
    font-weight: bold;
}   
/* button doar */
#doar a {
    background: linear-gradient(0deg, rgba(248, 113, 113, 1) 22%, rgba(115, 2, 2, 1) 59%, rgba(64, 1, 1, 1) 80%);
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 0 10px #DC2626;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;


}

#doar a:hover {
    opacity: 0.8;
    transition: all 0.5s;
}



 /* form section */
form{
    border-top: solid 2px rgba(248, 113, 113, 1);
    height: 80vh;
    border-radius: 10px;
    margin: 2vh;   
}

form label,legend,h1{
    font-weight: bold;
}
form textarea{
    margin-top: 10px;
    resize: none;
}

/* footer */
 
footer {
    text-align: center;
     background-color: var(--bg-stone-900);
     padding: 10px 0;
     bottom: 0;
     width: 100%;
 }

/* fonts */
.title{
    font-size: 3.3rem;
}

.text{
    font-size: 1.3rem;
}

/* fonts weight */

.font800{
    font-weight: 800;
}

.font700{
    font-weight: 700;
}

.font600{
    font-weight: 600;
}

.font500{
    font-weight: 500;
}
.font400{
    font-weight: 400;
}

.font300{
    font-weight: 300;
}

.font200{
    font-weight: 200;
}

.font100{
    font-weight: 100;
}

#modeDark{
    display:none;
}

.form-control{
    background-color: var(--bg-zinc-200);
    border:none;
}

.form-control::placeholder {
    color:var(--bg-zinc-900);
}

.form-control:focus{
    background-color: var(--bg-zinc-200);
}

/* cor do checkbox clicado */
input[type="checkbox"]:checked {
    background-color: black;
    color: white;
    border: none;
    box-shadow: 0 0 20px white;
       
}

.accordion-button{
    background-color: #6d0606;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 5px #DC2626;
    color: white;
    border: none;

}

.accordion-button:focus{
    background-color: #6d0606;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 5px #DC2626;
    color: white;
}

.accordion-item{
    background-color: #400101;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 5px #DC2626;
        color: white;
        border: none;   
}

/* buttons */
.elegant-button {
    width:20%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px white;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.elegant-button:hover, .elegant-button:active, .elegant-button:focus{
    
    background-color: black;
    box-shadow: none;
}